.logocss{
  border-radius:25px;
}

body{
    background-color: #FF8A8C;
    height: auto;
    margin: 0;  
}

p {
  font-family: verdana;
  font-size: 15px;
}

h2 {
  font-family: verdana;  
  color: white;
}

h4 {
  font-family: verdana;
  color: #FF2C28;
}

h3 {
  font-family: verdana;
  color: #FF2C28;
}

ul {
  font-family: verdana;
  font-size: 15px;
}

tr {
  font-family: verdana;  
  color: #259915;
  background-color: lightgreen;
}

a  {
  color: white;
  text-decoration: none;
}

a:hover  {
  color: #FF2C28;
}


table{
    width: 1000px;
    margin-left: 150px;
    margin-top: 45px;
}

/* Page content */
.content {
  padding: 16px;
}


ul {
  display: inline-block;
  *display: inline;
  zoom: 1
}


/* Zoom on Hover : https://www.w3schools.com/howto/howto_css_zoom_hover.asp*/
* {
    box-sizing: border-box;
  }
  .zoom {
    transition: transform .2s;
    width: 257px;
    height: 260px;
    margin: 0 auto;
    background-image: url("img/profilehtml.png");
  }

  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }